<h1>Recipe List</h1>
<table class="access-log-table table">
  <body>
    <% @recipes.each do |recipe| %>
      <ul>
        <li>title</li>
        <p><%= recipe.title %></p>
        <li>image</li>
        <p><%= image_tag recipe.food_image_url, alt: 'Recipe Image', size: '358x358' %></p>
        <li>URL</li>
        <p><%= link_to recipe.url %></p>
        <li>material</li>
        <p><%= recipe.recipe_material.gsub(/[\[\]\"]/, '') %></p>
        <li>cost</li>
        <p><%= recipe.recipe_cost %></p>
        <li>time</li>
        <p><%= recipe.recipe_indication %></p>
      </ul>
    <% end %>
  </body>
</table>