<div class = 'text-center'>
  <h2>今日のおつまみはこれ！</h2>
  <% if @recipe.present? %>
    <div class="card">
      <%= image_tag @recipe.food_image_url, class: "card-img-top", alt: 'Recipe Image' %>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item card-text text-end">
            <%= @recipe.recipe_indication %><br>
            <%= @recipe.recipe_cost %>
          </li>
          <li class="list-group-item card-text"><h5><%= @recipe.title %></h5></li>
          <li class="list-group-item card-text"><%= @recipe.recipe_material.gsub(/[\[\]\"]/, '') %></li>
        </ul>
        <%= link_to 'レシピはこちらから', @recipe.url, class: "btn btn-primary mt-2", target: :_blank %>
      </div>
      <div class="card-footer text-body-secondary">
        <div class="btn-group w-100" role="group">
          <%= link_to 'この料理で決定！', timers_path, class: "btn btn-danger w-50", data: {"turbolinks" => false} %>
          <%= link_to '今日の気分はこれじゃないな', recipes_show_path, class: "btn btn-secondary w-50", style: "font-size: 15px;" %>
        </div>
      </div>
    </div>
  <% else %>
    <h2>レシピが見つかりません</h2>
  <% end %> 
</div>