<div class = 'text-center'>
  <h1>今日のおつまみはこれ！</h1>
  <% if @recipe.present? %>
    <div class="card" style='max-width: 500px; height: 560px; overflow: auto;'>
      <%= image_tag @recipe.food_image_url, class: "card-img-top", alt: 'Recipe Image', width: '358', height: '267' %>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item card-text"><%= @recipe.recipe_indication %></li>
          <li class="list-group-item card-title"><h5><%= @recipe.title %></h5></li>
          <p class="card-text"><%= @recipe.recipe_cost %></p>
          <p class="card-text" style='word-wrap: break-word;'><%= @recipe.recipe_material.gsub(/[\[\]\"]/, '') %></p>
          <%= link_to 'レシピはこちらから', @recipe.url, class: "btn btn-primary", target: :_blank %>
        </ul>
      </div>
    </div> 
  <% else %>
    <h2>レシピが見つかりません</h2>
  <% end %> 
</div>