<div class = 'container'>
  <div class = 'child'>
    <% if @recipe.present? %>
      <ul>
        <li>title</li>
        <p><%= @recipe.title %></p>
        <li>image</li>
        <p><%= image_tag @recipe.food_image_url, alt: 'Recipe Image', size: '358x358' %></p>
        <li>URL</li>
        <p><%= link_to 'レシピはこちらから', @recipe.url, target: :_blank %></p>
        <li>material</li>
        <p><%= @recipe.recipe_material.gsub(/[\[\]\"]/, '') %></p>
        <li>cost</li>
        <p><%= @recipe.recipe_cost %></p>
        <li>time</li>
        <p><%= @recipe.recipe_indication %></p>
        <p><%= link_to 'この料理で決定！', timers_path, data: {"turbolinks" => false} %></p>
        <p><%= link_to '今日の気分はこれじゃないかも・・・', recipes_show_path, class: "btn" %></p>
      </ul>
    <% else %>
      <h2>レシピが見つかりません</h2>
    <% end %>
  </div>
</div>